flows (3).json
[{"id":"abc1761e.c37fc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"abc1761e.c37fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1243.4286422729492,"y":116.5714340209961,"wires":[]},{"id":"f3b4dd9b.9965","type":"ui_text","z":"abc1761e.c37fc8","group":"3498db0f.7ee974","order":2,"width":0,"height":0,"name":"Output","label":"Fraud Risk","format":"{{msg.payload}}","layout":"row-spread","x":1221.8002624511719,"y":206.20001602172852,"wires":[]},{"id":"a79ffab1.723f98","type":"inject","z":"abc1761e.c37fc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":370,"y":100,"wires":[["bf94249.2b958d8"]]},{"id":"bf94249.2b958d8","type":"function","z":"abc1761e.c37fc8","name":"Pre-token","func":"global.set(\"Unnamed\", msg.payload.Unnamed)\nglobal.set(\"Temperature\", msg.payload.Temperature)\nglobal.set(\"Heartrate\", msg.payload.Heartrate)\nglobal.set(\"Bloodpressure\", msg.payload.Bloodpressure)\nglobal.set(\"userID\", msg.payload.userID)\n\n\nvar apikey = \"xsx9JZlQkDk81gUc5-E6E2PrtU4ObD8EZ5GpO6qS4eJJ\";\nmsg.headers = {\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\": \"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\": apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["777abbea.862584"]]},{"id":"777abbea.862584","type":"http request","z":"abc1761e.c37fc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":180,"wires":[["86baa7ad.5bde88"]]},{"id":"27b178b7.3dcd18","type":"function","z":"abc1761e.c37fc8","name":"Parsing","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040.9430084228516,"y":165.8571367263794,"wires":[["f3b4dd9b.9965","f2f2649a.0d0d98"]]},{"id":"86baa7ad.5bde88","type":"function","z":"abc1761e.c37fc8","name":"Pre-prediction","func":"var Unnamed = global.get(\"Unnamed\")\nvar userID = global.get(\"userID\")\n\n\nvar Temperature = global.get(\"Temperature\")\nvar Heartrate = global.get(\"Heartrate\")\nvar Bloodpressure = global.get(\"Bloodpressure\")\n\nvar token = msg.payload.access_token\nvar instance_id = \"53cbfda1-943f-4ec2-80e2-9e4272e8b31e\"\nmsg.headers = {\"Content-type\": \"application/json\", \"Authorization\": \"Bearer\" + token, \"ML-Instance-ID\": instance_id} \nmsg.payload = {\"input_data\": [{\"fields\": [\"Unnamed\",\"Bloodpressure\", \"Heartrate\", \"Temperature\",\"userID\"], \"values\": [[Unnamed,Bloodpressure,Heartrate,Temperature,userID]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["33180724.f3f928"]]},{"id":"33180724.f3f928","type":"http request","z":"abc1761e.c37fc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/53cbfda1-943f-4ec2-80e2-9e4272e8b31e/predictions?version=2021-03-06","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":180,"wires":[["27b178b7.3dcd18","405eabec.b844c4"]]},{"id":"405eabec.b844c4","type":"debug","z":"abc1761e.c37fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1037.943016052246,"y":262.14290142059326,"wires":[]},{"id":"31102d2b.68fca2","type":"ibmiot in","z":"abc1761e.c37fc8","authentication":"apiKey","apiKey":"d1d9d6cf.887968","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"project","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":250,"y":180,"wires":[["bf94249.2b958d8"]]},{"id":"3498db0f.7ee974","type":"ui_group","name":"Sensor Data","tab":"21c064a3.397ffc","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1d9d6cf.887968","type":"ibmiot","name":"IBM IoT","keepalive":"60","serverName":"y5oes2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"21c064a3.397ffc","type":"ui_tab","name":"Health","icon":"dashboard","disabled":false,"hidden":false}]